* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    background-color: #fff;
}

.ph {
    font-size: 18px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 40px 24px 40px;
    position: relative;
    width: 100%;
}

.nav-items {
    display: flex;
    gap: 24px;
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.contact {
    position: absolute;
    right: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 24px;
    color: white;
    background-color: black;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}

.hero {
    padding: 0 12px;
    height: 90vh;
}

.hero-background {
    position: relative;
    height: 100%;
    background: url("Ressources/AdobeStock_806985461.jpeg") center/cover no-repeat;
    color: white;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    padding: 40px;
    z-index: 1;
}

.hero-background::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: inherit;
    background-size: cover;
    background-position: center;

    transform: scaleX(-1);
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 779px;
    width: 100%;
    margin-right: auto;
}

.title {
    font-size: 72px;
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 16px;
}

.obvious {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 1.05em;
}

.subtitle {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 32px;
}

.hero-actions {
    display: flex;
    gap: 24px;
}

.primary {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 24px;
    background: white;
    border: none;
    border-radius: 2rem;
    font-weight: 600;
    cursor: pointer;
}

.secondary {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    color: white;
    border: 1.5px solid white;
    border-radius: 2rem;
    text-decoration: none;
}

.profil {
    display: grid;
    grid-template-columns: 1fr 1fr 520px;
    gap: 32px;
    padding: 80px 40px;
}

.name-lastname {
    font-family: "Playfair Display", serif;
    font-style: italic;
}

.middle-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.right-section {
    height: 670px;
    background: url("Ressources/Portrait Jules.jpg") center/cover;
    border-radius: 24px;
    display: flex;
    align-items: flex-end;
    padding: 16px;
}

.get-in-touch {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.grey-background {
    background-color: #f1f1f1;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project-img {
    height: 520px;
    background: #ddd url("Ressources/AdobeStock_806985461.jpeg") center/cover;
    border-radius: 24px;
}

.label-date {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}