.body {
    font-family: "Inter", sans-serif;
    
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    font-family: "Inter", sans-serif;
}

.nav-items {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.contact {
    position: absolute;
    right: 40px;
    padding-inline: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    background-color: black;
    border-radius: 2rem;
    border: none;
}

.hero {
    position: relative;
    height: 90.5vh;
    width: auto;
}

.hero-background {
    position: relative;
    width: auto;
    height: 100%;
    background-image: url("Ressources/AdobeStock_806985461.jpeg");
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 24px;
    overflow: hidden;
    z-index: 1;
}

.hero-background::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background-image: url("Ressources/AdobeStock_806985461.jpeg");
    background-size: cover;
    background-position: center;
    transform: scaleX(-1); 
    z-index: -1; 
}

.hero-content {
    position: absolute;
    left: 40px;
    bottom: 40px;
    max-width: 779px;
    font-family: "Inter", sans-serif;
}

.title {
    font-size: 72px;
    padding-bottom: 16px;
}

.obvious {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 74px;
}

.subtitle {
    font-size: 24px;
    padding-bottom: 32px;
}

.hero-button {
    gap: 24px;
    display: flex;
}

.primary {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-inline: 24px;
    color: black;
    background-color: white;
    border-radius: 2rem;
    border: none;
}

.secondary {
    padding-inline: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    background-color: none;
    border-radius: 2rem;
    border: 1px;
    border-color: white;
}

.profil {
    display: flex;
}

.name-lastname {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 24px;
}