.body {
    font-family: "Inter", sans-serif;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}

.nav-items {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.contact {
    position: absolute;
    right: 40px;
    padding-inline: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    background-color: black;
    border-radius: 2rem;
}

.hero {
    position: relative;
    height: 845px;
    width: auto;
}

.hero-background {
    width: auto;
    height: 100%;
    background-color: green;
    color: white;
    border-radius: 24px;
}

.hero-content {
    position: absolute;
    left: 40px;
    bottom: 40px;
    max-width: 779px;
    font-family: "Inter", sans-serif;
}

.title {
    font-size: 72px;
    padding-bottom: 16px;
}

.subtitle {
    font-size: 24px;
    padding-bottom: 32px;
}

.primary {
    padding-inline: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    background-color: black;
    border-radius: 2rem;
}

.secondary {
    padding-inline: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    background-color: black;
    border-radius: 2rem;
}